<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      id="viewport"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link href="/static/global.css" rel="stylesheet" type="text/css" />
    <link
      href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900"
      rel="stylesheet"
      type="text/css"
    />
    <title>Activity Search</title>
  </head>

  <body>
    <div id="root"></div>
    <script src="/build/app.js"></script>
    <script src="/build/chunk.vendors~app.js"></script>
  </body>
</html>
